/* body */
html {
  height: 100%;
}

body {
    background: black;
    background-repeat: no-repeat;
    font-family: $lato;
    height: 100%;
    background-image: url('../../images/universe.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// outer-container for background image
#outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
    background-attachment: fixed;
    margin:0;
    height: 100%;
}

#app {
    animation: fadein ease-out 1.4s;
}
